<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="FoundryBlazor" value="https://pkgs.dev.azure.com/iobt/IoBTNuGet/_packaging/FoundryBlazor/nuget/v3/index.json" />
    <add key="IoBTMessageLibrary" value="https://pkgs.dev.azure.com/iobt/IoBTNuGet/_packaging/IoBTMessageLibrary/nuget/v3/index.json" />
    <add key="IoBTModuleLibrary" value="https://pkgs.dev.azure.com/iobt/IoBTNuGet/_packaging/IoBTModuleLibrary/nuget/v3/index.json" />
    <add key="BlazorThreeJS" value="https://pkgs.dev.azure.com/iobt/IoBTNuGet/_packaging/BlazorThreeJS/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <FoundryBlazor>
      <add key="Username" value="%NugetUserId%" />
      <add key="ClearTextPassword" value="%NugetPersonalAccessToken%" />
    </FoundryBlazor>
    <IoBTMessageLibrary>
      <add key="Username" value="%NugetUserId%" />
      <add key="ClearTextPassword" value="%NugetPersonalAccessToken%" />
    </IoBTMessageLibrary>
    <IoBTModuleLibrary>
      <add key="Username" value="%NugetUserId%" />
      <add key="ClearTextPassword" value="%NugetPersonalAccessToken%" />
    </IoBTModuleLibrary>
    <BlazorThreeJS>
      <add key="Username" value="%NugetUserId%" />
      <add key="ClearTextPassword" value="%NugetPersonalAccessToken%" />
    </BlazorThreeJS>
  </packageSourceCredentials>
</configuration>
