<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="FoundryBlazor" value="https://pkgs.dev.azure.com/iobt/IoBTNuGet/_packaging/FoundryBlazor/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <IoBTMessageLibrary>
      <add key="Username" value="iobt" />
      <add key="ClearTextPassword" value="OUR_KEY" />
    </IoBTMessageLibrary>
  </packageSourceCredentials>
</configuration>
