@inherits DialogSideContentDialog
@namespace FoundryBlazor.Dialogs

<h3>DialogSideContent</h3>

<p>
    Side Dialog
</p>

<RadzenButton Size="ButtonSize.ExtraSmall" Text="Close Side Dialog" Click="@(_ => DialogService?.CloseSide())" />
