
@inherits TextRectangleDialog

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 p-3">
            <RadzenCard>
                <div class="col-md-12">
                    <RadzenCard>
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Update TextArea</RadzenText>
                        @* <RadzenTextArea @bind-Value=@Shape.Text Change=@(args => OnTextAreaChange(args)) Class="w-300" /> *@
                        <RadzenSpeechToTextButton Change="@(args => OnSpeechCaptured(args, true))" />
                    </RadzenCard>
                </div>

                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Current Shape Text</RadzenText>
                @* <RadzenTextBox @oninput="@(args => OnInput(args.Value))" @bind-Value=@Shape.Text  Class="w-100" /> *@
                <RadzenButton Click="@((args) => Cancel())" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Light"
                    Text="Cancel" Style="width: 120px" Class="me-1" />
                <RadzenButton Click="@((args) => Save())" Variant="Variant.Flat" Text="OK" Style="width: 120px" />
            </RadzenCard>
        </div>
    </div>
</div>
