@*
    Adapted from Scott Harden's EXCELLENT blog post, 
    "Draw Animated Graphics in the Browser with Blazor WebAssembly"
    https://swharden.com/blog/2021-01-07-blazor-canvas-animated-graphics/

    overflow: auto;
    style="position: relative; "
*@ 

<div>
    @ChildContent
</div>

@code {

    /// <summary>
    /// In a Blazor App, you would wrap a BECanvas element
    /// in the CanvasHelper
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
