.world-container {
    background-color: lightblue;
    position: relative;
    width: 75vw;
    height: 66vw;
}

.action-palette-container {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
    padding: 0 4px;
}

.debug-container {
    position: relative;
    left: 400px;
}

.world-element {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: -5;
    top: -5;
    right:-5;
    bottom: -5;;
}

.mini-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    overflow: hidden;
}
