@inherits BMC3CanvasSVGBase
@using FoundryBlazor.Shared.SVG
@namespace FoundryBlazor.Shared

<div style="width:max-content; border:1px solid black;cursor:default" contenteditable="true" @onkeydown="OnKeyDown"
    @onkeypress="OnKeyPress" @onkeyup="OnKeyUp">
    <svg width=@CanvasWidth height=@CanvasHeight style="@StyleCanvas" @onmousedown="OnMouseDown" @onmouseup="OnMouseUp"
        @onmousewheel="@OnWheelMove" @onmousemove="@OnMouseMove">
        <Page Page="@GetCurrentPage()" />
    </svg>
</div>