@using FoundryBlazor.Shared.SVG

@inherits CanvasSVGComponentBase
@namespace FoundryBlazor.Shared

<div id="svgHolder" style=@StyleCanvas>
    <JSIntegrationHelper @ref="JSIntegrationRef" RenderFrame="RenderFrame">
        
        <svg  Width=@CanvasWidth Height=@CanvasHeight style="background-color:orange">
            <Page Page="@GetCurrentPage()" >
            </Page>
        </svg>
    </JSIntegrationHelper>
</div>

