@inherits CanvasInputWrapperBase
@namespace FoundryBlazor.Shared


<div style="@GetCanvasStyle()" contenteditable="true" @onkeydown="OnKeyDown" @onkeydown:preventDefault="true"
    @onkeypress="OnKeyPress" @onkeypress:preventDefault="true" @onkeyup="OnKeyUp" @onkeyup:preventDefault="true"
    @onmousedown="OnMouseDown" @onmouseup="OnMouseUp" @onmousewheel="@OnWheelMove" @onmousemove="@OnMouseMove">
    @ChildContent
</div>
