@inherits CanvasInputWrapperBase
@namespace FoundryBlazor.Shared


<div style="@GetCursor()" contenteditable="true" @onkeydown="OnKeyDown" @onkeypress="OnKeyPress" @onkeyup="OnKeyUp"
    @onmousedown="OnMouseDown" @onmouseup="OnMouseUp" @onmousewheel="@OnWheelMove" @onmousemove="@OnMouseMove">
    @ChildContent
</div>
