@using FoundryBlazor.Shared
@using BlazorThreeJS.Viewers
@inherits Canvas3DComponentBase

<div id="worldHolder" style="@GetCanvasStyle()" Width="@CanvasWidth" Height="@CanvasHeight">
    <Viewer @ref="ThreeJSViewer3D" ViewerSettings=@GetSettings() Scene=@GetActiveScene() />
</div>
