@using FoundryBlazor.Shared
@using BlazorThreeJS.Viewers
@inherits Canvas3DComponentBase

<div style=@StyleCanvas Width=@CanvasWidth Height=@CanvasHeight >
  <CanvasHelper @ref="AnimationHelperReference" RenderFrame="RenderFrame"  >
        <Viewer @ref="ThreeJSView3D" ViewerSettings=@GetSettings() Scene=@GetActiveScene()  />
  </CanvasHelper>
</div>




