@using FoundryBlazor.Shared.SVG

@inherits CanvasSVGComponentBase
@namespace FoundryBlazor.Shared

<div id="svgHolder">
    <SVGHelper @ref="SVGHelperReference" RenderFrame="RenderFrame">
        
        <svg viewbox="(0,0,1000,1000)" height="1000" width="1000" style="background-color:orange">
            <Page Page="@GetCurrentPage()" >
            </Page>
        </svg>
    </SVGHelper>
</div>

