@using FoundryBlazor.Shared
@using BlazorThreeJS.Viewers
@inherits Canvas3DComponentBase

<div id="worldHolder" style="@GetCanvasStyle()" Width="@CanvasWidth" Height="@CanvasHeight">
  <JSIntegrationHelper @ref="JSIntegrationRef" RenderFrame="RenderFrame">
    <Viewer @ref="ThreeJSView3D" ViewerSettings=@GetSettings() Scene=@GetActiveScene() />
  </JSIntegrationHelper>
</div>
