@inherits InputWrapperBase
@namespace FoundryBlazor.Shared


<div style="@style" contenteditable="true" 
    @onkeydown="OnKeyDown"
    @onkeypress="OnKeyPress" 
    @onkeyup="OnKeyUp" 
    @onmousedown="OnMouseDown" 
    @onmouseup="OnMouseUp"
    @onmousewheel="@OnWheelMove"
    @onmousemove="@OnMouseMove">
    @ChildContent
</div>
