@namespace FoundryBlazor.Shared
@inherits SVGComponentBase

<svg height="1800" width="1800" style="background-color:lightgray" id="svg-test">
    @foreach (var node in Nodes)
    {
        @node
    }


    @* <defs>
    <style>
    circle {
    fill: orange;
    }

    .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
    }

    @@keyframes dash {
    from {
    stroke-dashoffset: 922;
    }

    to {
    stroke-dashoffset: 0;
    }
    }
    </style>
    </defs>
    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" @onclick="ClickCircle"
    @onmousedown="MouseDownCircle" @onmouseup="MouseUpCircle" @onmouseenter="MouseEnterCircle"
    @onmouseleave="MouseLeaveCircle" />
    <foreignObject x="35" y="15" width="40" height="40">
    <div style="width:40;height:40;border: 1px solid yellow" title="Circle whose color is set by css">&nbsp;
    </div>
    </foreignObject>
    <g transform="translate(20,2.5) rotate(10)">
    <rect x="120" y="10" width="300" rx="4" ry="4" height="100"
    style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" @onclick="ClickRect" />
    </g>
    <foreignObject x="120" y="10" width="300" height="100">
    <RadzenText TextStyle="TextStyle.Caption">Hello Radzen</RadzenText><br />
    <textarea type="text" xmlns="http://www.w3.org/1999/xhtml" style="height:100px;background-color: skyblue">
    This is some HTML Text in a textarea.
    </textarea>
    </foreignObject>
    <image x="500" y="10" width="100" height="100" href="https://picsum.photos/200" />
    <foreignObject x="650" y="10" width="400" height="300">
    <video id='video' controls="controls" preload='none' width="600"
    poster="https://assets.codepen.io/32795/poster.png">
    <source id='mp4' src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' />
    </video>
    </foreignObject>
    <path class="path" fill="#333" stroke="white" stroke-width="2" d="M66.039,133.545c0,0-21-57,18-67s49-4,65,8
    s30,41,53,27s66,4,58,32s-5,44,18,57s22,46,0,45s-54-40-68-16s-40,88-83,48s11-61-11-80s-79-7-70-41
    C46.039,146.545,53.039,128.545,66.039,133.545z" /> *@

</svg>
