@using FoundryBlazor.Shared
@inherits ToastNotificationComponent

<div class="rz-notification" style="position:fixed;z-index:1002;top:100px;float:right;right:10px;@Style">
    @for (var i = 0; i < Service?.Messages.Count; i++)
    {
        @if (Service.Messages[i] != null)
            @DrawMessage(i, Service.Messages[i])
    }
</div>
